* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-white: #fff;
  --color-white-opacity: rgba(255,255,255,.9);
  --color-red: #ff0000;
  --color-error: var(--color-red);

  --primary-background-color: #b3b3b3;
  --secondary-background-color: #f2f2f2;
  --primary-border: 1.5px solid #000;
  --secondary-border: 1.5px solid #cdcdcd;
  --error-border: 1.5px solid var(--color-error);

  --header-height: 65px;
  --left-column-width: 300px;
}

#root {
  height: 100%;
}
